<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap View Helpers Examples</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'nav_bar' %>
    <div class='container-fluid'>
      <%= user_announcements %>
      <%= flash_messages %>
      <div class='row-fluid'>
        <div class='span3'>
          <%= render partial: 'side_bar' %>
        </div>
        <div class='span9'>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
