<%= form_for [:admin, @announcement], :html => {:class => 'announcement-detail'} do |f| %>
  <%= _ua_active_model_errors(f.object) %>

  <p>
    <%= f.check_box(:active) %>
    <%= f.label :active %>
  </p>

  <p>
    <%= f.label(:message) %>
    <%= ua_br %>
    <%= f.text_area :message, size: "60x10", class: 'span6' %>
  </p>

  <%= ua_datetime_p(f, :starts_at) %>

  <%= ua_datetime_p(f, :ends_at) %>
  
  <p>
    <%= ua_roles_html(f) %>
  </p>
  
  <p>
    <%= ua_style_html(f) %>
  </p>
  
  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to("Cancel", admin_announcements_path, :class => 'btn') %>
  </div>
  
<% end %>

<%- if ua_bootstrap_datetime_picker? %>
<script>
  
  $(function() {
    $('.ua-datetimepicker').datetimepicker({
    });
  })
</script>
<% end %>