<%= form_for [:admin, @announcement], :html => {:class => 'form-horizontal'} do |f| %>
  <%= active_model_errors(f.object) %>
  <%#= f.input :subject, :as => :text, :input_html => {:size => "60x3", class: 'span6'} %>
  <%#= f.input(:starts_at, :as => :string, :input_html => {class: 'datepicker'}) %>
  <%#= f.input(:ends_at, :as => :string, :input_html => {class: 'datepicker'}) %>
  <p>
    <%= f.label(:message) %>
    <%= f.text_area :message, size: "60x10", class: 'span6' %>
  </p>

  <%= ua_datetime_p(f, :starts_at) %>

  <%= ua_datetime_p(f, :ends_at) %>
  
  <p>
    <%= f.check_box(:active) %>
    <%= f.label :active %>
  </p>

  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to("Cancel", admin_announcements_path, :class => 'btn') %>
  </div>
<% end %>

<style>
  p.datetime-select select {
    width: 8em;
  }
</style>

